#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white;
  text-shadow: 1px 1px 2px black;
}


.high-score:hover {
  transform: scale(1.025);
}

.btn {
  background-color: black;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #222;
  color: #ffcc00;
  transition: 0.3s ease;
}

